:root {
    --color-brend-light: #2B7FFF;
    --color-brend-dark: #011C44;
    --color-brend-basic: #ffffff;
    --color-secondary-one: #4A4A4A;
    --color-secondary-two: #4A4A4A;
    --color-secondary-three: #747272;
    --color-secondary-four: #011F4A;
    --color-secondary-five: #FFD02B;
    --color-secondary-six: #000000;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;